/*NAVBAR*/
.navigation {
  font-size: 15px;
  font-weight: 600;
}

/*MAIN CONTENT*/




/*DARK BANNERS*/
.dark-banner-main {
  background-color: black;
  margin-top: -400px;
  height: 400px; 
}

.dark-banner-sub {
  background-color: black;
  margin-top: -300px;
  height: 300px; 
}

/*ABOUT*/
#github {
  border-radius: 10px;
  border: solid 10px gray;
}

/*CONTACT*/
#email-form {
  border-radius: 10px;
  border: solid 10px gray;
}

/*OTHER*/
.hover {
  border-radius: 25px;
}


.my-portfolio {
  font-size: 45px;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-style: none;
}